@keyframes animated-background {
  0% {
    background-color: red;
  }

  50% {
    background-color: blue;
  }

  100% {
    background-color: aqua;
  }
}

@keyframes animated-button {
  from {
    transform: scale(0.9, 1.1);
  }

  to {
    transform: scale(1.1, 0.9);
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  webkit-touch-callout: none;
   -webkit-user-select: none;
    -khtml-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;

  border: none;
  outline: none;

  width: 80vw;
  height: 80vw;
  border-radius: 100%;
  background-color: red;
  font-size: 15vw;
  text-transform: uppercase;
}

.animated-button {
  background-color: yellow;
  animation: animated-button 0.3s ease-in-out infinite alternate;
  animation-fill-mode: forwards;
}

.animated-background {
  animation: animated-background 0.8s ease-in-out infinite alternate;
}

#pressed-counter {
  webkit-touch-callout: none;
   -webkit-user-select: none;
    -khtml-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;

  margin: 0 0 10vh 0;
  padding: 0;
  font-size: 30vw;
}
